<ion-header>
    <back-header wTitle="修改{{title}}"></back-header>
</ion-header>

<ion-content padding>
    <ngForm *ngIf="key!='4'" #form="ngForm">
        <ion-item *ngIf="key==1">
            <ion-label position="floating">输入{{title}}</ion-label>
            <ion-input [(ngModel)]="userInfo.nickname" type="text" name="nickname" maxlength="8"></ion-input>
        </ion-item>
        <ion-item *ngIf="key==2">
            <ion-label position="floating">输入个性签名</ion-label>
            <ion-textarea type="text" name="sign" [(ngModel)]="userInfo.sign" maxlength="40"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="key==3">
            <ion-label position="floating">选择性别</ion-label>
            <ion-select [(ngModel)]="userInfo.sex" placeholder="请选择" cancelText="取消" okText="确定" name="sex">
                <ion-select-option value="0">男</ion-select-option>
                <ion-select-option value="1">女</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="key==6">
            <ion-label position="floating">输入原密码</ion-label>
            <ion-input [(ngModel)]="userInfo.oldPassword" type="text" name="oldPassword" maxlength="12"></ion-input>
        </ion-item>
        <ion-item *ngIf="key==6">
            <ion-label position="floating">输入新密码</ion-label>
            <ion-input [(ngModel)]="userInfo.password" type="text" name="password" maxlength="12"></ion-input>
        </ion-item>
        <ion-button expand="full" color="success" (click)="modify()">确认修改</ion-button>
    </ngForm>
    <ng-container *ngIf="key=='4'">
        <img src="{{userInfo.qrCodeImage}}"/>
    </ng-container>
</ion-content>
