<ion-header>
    <back-header wTitle="活动详情"></back-header>
</ion-header>
<ion-content padding>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="/assets/imgs/myback.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="/assets/imgs/myback.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="/assets/imgs/myback.jpg"/>
        </ion-slide>
    </ion-slides>
    <ion-list>
        <ion-item>
            <ion-label>{{activity?.nickname}}</ion-label>
            <p>{{activity?.activeTitle}}</p>
        </ion-item>
        <ion-item>
            <ion-label>出发地</ion-label>
            <p>{{activity?.startAddressName}}</p>
        </ion-item>
        <ion-item>
            <ion-label>目的地</ion-label>
            <p>{{activity?.endAddressName}}</p>
        </ion-item>
        <ion-item>
            <ion-label>出发时间</ion-label>
            <p>{{activity?.goTime}}</p>
        </ion-item>
        <ion-item>
            <ion-label>活动耗时(天)</ion-label>
            <p>{{activity?.days}}</p>
        </ion-item>
        <ion-item>
            <ion-label>费用(元)</ion-label>
            <p>{{activity?.charge}}</p>
        </ion-item>
        <ion-item>
            <p>{{activity?.content}}</p>
        </ion-item>
        <ion-item-divider>
            <ion-label>留言讨论</ion-label>
        </ion-item-divider>
    </ion-list>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="add">
            <ion-label>立即加入</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button expand="full" color="success" (click)="addActivity()">立即加入</ion-button>
    </ion-toolbar>
</ion-footer>
