<ion-header>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="../../assets/imgs/myback.jpg" height="1080" width="1920"/>
        </ion-slide>
        <ion-slide>
            <img src="../../assets/imgs/myback.jpg" height="1080" width="1920"/>
        </ion-slide>
        <ion-slide>
            <img src="../../assets/imgs/myback.jpg" height="1080" width="1920"/>
        </ion-slide>
    </ion-slides>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col [routerLink]="['/activity/activity-list']">
                <ion-label>最新推荐</ion-label>
            </ion-col>
            <ion-col>
                <ion-label>自驾游</ion-label>
            </ion-col>
            <ion-col>
                <ion-label>亲子游</ion-label>
            </ion-col>
            <ion-col>
                <ion-label>户外约伴</ion-label>
            </ion-col>
            <ion-col [size]="1">
                <ion-icon name="menu"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button [routerLink]="['/activity',{outlets:{activityList: 'activity-list'}}]">casfdsf</ion-button>
    <ion-router-outlet name="activityList"></ion-router-outlet>
</ion-content>
