<ion-header>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="../../assets/imgs/myback.jpg" height="1080" width="1920"/>
        </ion-slide>
        <ion-slide>
            <img src="../../assets/imgs/myback.jpg" height="1080" width="1920"/>
        </ion-slide>
        <ion-slide>
            <img src="../../assets/imgs/myback.jpg" height="1080" width="1920"/>
        </ion-slide>
    </ion-slides>
</ion-header>

<ion-content padding>
    <ion-segment>
        <ion-segment-button checked (ionSelect)="changeType('00')">
            <ion-label>最新推荐</ion-label>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="changeType('01')">
            <ion-label>自驾游</ion-label>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="changeType('02')">
            <ion-label>亲子游</ion-label>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="changeType('03')">
            <ion-label>户外约伴</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ng-container [ngSwitch]="type">
        <app-activity-list [activityType]="00" *ngSwitchCase="'00'"></app-activity-list>
    </ng-container>
</ion-content>
