<ion-tabs>
    <ion-tab tab="friend">
        <ion-router-outlet name="friend"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="activity">
        <ion-router-outlet name="activity"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="share">
        <ion-router-outlet name="share"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="destination">
        <ion-router-outlet name="destination"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="mine">
        <ion-router-outlet name="mine"></ion-router-outlet>
    </ion-tab>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="friend" href="/tabs/(home:home)">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>朋友</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="activity" href="/tabs/(mine:mine)">
            <ion-icon name="paper-plane"></ion-icon>
            <ion-label>活动</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="share" href="/tabs/(mine:mine)">
            <ion-icon name="cloud"></ion-icon>
            <ion-label>分享</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="destination" href="/tabs/(mine:mine)">
            <ion-icon name="planet"></ion-icon>
            <ion-label>目的地</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mine" href="/tabs/(mine:mine)">
            <ion-icon name="person"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
