<ion-list>
    <ion-item-group>
        <ion-item>
            <ion-label>账号</ion-label>
            <p slot="end">xxxxx</p>
        </ion-item>
        <ion-item>
            <ion-label>昵称</ion-label>
            <p slot="end">天行者</p>
        </ion-item>
        <ion-item>
            <ion-label>密码</ion-label>
            <p slot="end">******</p>
        </ion-item>
        <ion-item>
            <ion-label>手机号</ion-label>
            <p slot="end">138***122</p>
        </ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider>第三方账号</ion-item-divider>
        <ion-item>
            <ion-label>微信</ion-label>
            <p slot="end">xxxx</p>
        </ion-item>
        <ion-item>
            <ion-label>QQ</ion-label>
            <p slot="end">22222222</p>
        </ion-item>
    </ion-item-group>
</ion-list>