ion-title {
  size: 1.2rem;
  text-align: center;
  color: #ffffff;
  margin-top: 0.5rem;
}

ion-header {
  background-image: url("../../assets/imgs/myback.jpg");
  height: 160px;
  width: 100%;
}

ion-header ion-row {
  margin-top: 70px;
}

ion-header ion-row ion-label, h2, h3, p {
  color: #ffffff;
}

ion-buttons ion-button {
  --border-style: solid;
  --border-color: rgba(0, 0, 0, 0.13);
  --border-width: 0.5px;
  --height: 64px;
  --padding-start: 7px;
  --padding-end: 7px;
  margin-left: 0px;
  margin-right: 0px;
}