<ion-header>
    <ion-title>个人中心</ion-title>
    <ion-row>
        <ion-col>
            <ion-avatar>
                <ion-img [src]="imgBaseUrl + 'default.jpg'" class="privateImage" *ngIf="userId"></ion-img>
                <ion-img [src]="imgBaseUrl + 'default.jpg'" class="privateImage" *ngIf="!userId"></ion-img>
            </ion-avatar>
        </ion-col>
        <ion-col [size]="8" [pull]="2">
            <ion-label *ngIf="userId">
                <h2>{{userInfo?.name}}</h2>
                <h3>{{userInfo?.userId}}</h3>
                <p>{{userInfo?.content}}</p>
            </ion-label>
            <ion-label *ngIf="!userId" [routerLink]="['/login']">登录|注册</ion-label>
        </ion-col>
    </ion-row>
</ion-header>
<ion-content>
    <ion-buttons>
        <ion-button>
            <ion-icon name="star"></ion-icon>
            <ion-label>我的收藏</ion-label>
        </ion-button>
        <ion-button>
            <ion-icon name="pin"></ion-icon>
            <ion-label>我的行程</ion-label>
        </ion-button>
        <ion-button>
            <ion-icon name="cart"></ion-icon>
            <ion-label>我的订单</ion-label>
        </ion-button>
        <ion-button>
            <ion-icon name="trophy"></ion-icon>
            <ion-label>我的贡献</ion-label>
        </ion-button>
    </ion-buttons>
    <ion-list>
        <ion-item>
            <ion-label>我的朋友</ion-label>
            <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>我的活动</ion-label>
            <ion-badge color="danger">66</ion-badge>
            <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>我的分享</ion-label>
            <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>我的目的地</ion-label>
            <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>商务合作</ion-label>
            <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>投诉建议</ion-label>
            <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>