ion-title {
  size: 1.2rem;
  color: #ffffff;
  position: inherit;
}

ion-header{
  background-color: #3880ff;
}

ion-header ion-grid {
  margin-top: 40px;
}

ion-header ion-grid ion-row ion-label, h2, h3, p {
  color: #ffffff;
}

ion-buttons ion-button {
  --border-style: solid;
  --border-color: rgba(0, 0, 0, 0.13);
  --border-width: 0.5px;
  --height: 64px;
  --padding-start: 4px;
  --padding-end: 4px;
  margin-left: 0px;
  margin-right: 0px;
  font-max-size: 1rem;
  font-size: 16px;
}