ion-card-header p {
  color: #ffffff;
  font-size: x-large;
  margin-top: -12rem;
}

ion-card-content ion-row ion-col p {
  color: #FF0000;
  font-size: x-large;
}

ion-card-content ion-row {
  height: 30px;
}