<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="friend">
            <ion-icon name="heart"></ion-icon>
            <ion-label>朋友</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="active">
            <ion-icon name="star"></ion-icon>
            <ion-label>活动</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="share">
            <ion-icon name="star"></ion-icon>
            <ion-label>分享</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="destination">
            <ion-icon name="star"></ion-icon>
            <ion-label>目的地</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="me">
            <ion-icon name="star"></ion-icon>
            <ion-label>我</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
