<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="friend">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>朋友</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="activity">
            <ion-icon name="paper-plane"></ion-icon>
            <ion-label>活动</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="share">
            <ion-icon name="cloud"></ion-icon>
            <ion-label>分享</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="destination">
            <ion-icon name="planet"></ion-icon>
            <ion-label>目的地</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mine">
            <ion-icon name="person"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
