<ion-header>
    <back-header wTitle="注册"></back-header>
</ion-header>

<ion-content padding>
    <ngForm #form="ngForm">
        <ion-item>
            <ion-select interface="popover" style="margin-left: -16px" [(ngModel)]="registerType" name="registerType">
                <ion-select-option value="t-userName" selected="true">用户名</ion-select-option>
                <ion-select-option value="t-mobile">手机号</ion-select-option>
            </ion-select>
            <ion-input *ngIf="registerType=='t-userName'" type="text" [(ngModel)]="userName" name="userName"
                       required></ion-input>
            <ion-input *ngIf="registerType=='t-mobile'" type="text" [(ngModel)]="userMobile" name="userMobile"
                       required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>密码</ion-label>
            <ion-input *ngIf="!showPwd" type="password" name="userpwd" [(ngModel)]="userPwd" required></ion-input>
            <ion-input *ngIf="showPwd" type="text" name="userpwd" [(ngModel)]="userPwd" required></ion-input>
            <ion-toggle name="showpwd" [(ngModel)]="showPwd"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="registerType=='t-mobile'">
            <ion-label>手机校验码</ion-label>
            <ion-input type="text" maxlength="4" name="mobileCode" [(ngModel)]="mobileCode"></ion-input>
        </ion-item>
        <!--<ion-item>
            <ion-label>验证码</ion-label>
            <ion-input type="text" maxlength="4" name="codeNumber" [(ngModel)]="codeNumber"></ion-input>
            <img (click)="getCaptcha()" src="{{captchaCodeImg}}"/>
        </ion-item>-->
        <ion-button expand="full" color="success" (click)="register()">注册</ion-button>
    </ngForm>

</ion-content>
