<ion-list>
    <ion-item>
        <ion-label>头像</ion-label>
        <ion-avatar slot="end">
            <ion-img [src]="imgBaseUrl + 'default.jpg'" class="privateImage"></ion-img>
        </ion-avatar>
        <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="modifyUser('1','昵称')">
        <ion-label>昵称</ion-label>
        <p slot="end">{{userInfo?.nickname}}</p>
        <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="modifyUser('4','二维码')">
        <ion-label>二维码</ion-label>
        <img (click)="getQrCode()" src="{{userInfo?.qrCodeImage}}"/>
        <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label>地区</ion-label>
        <p slot="end">深圳</p>
        <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="modifyUser('3','性别')">
        <ion-label>性别</ion-label>
        <ion-icon *ngIf="userInfo?.sex==='1'" name="woman" slot="end"></ion-icon>
        <ion-icon *ngIf="userInfo?.sex==='0'" name="man" slot="end"></ion-icon>
        <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item text-wrap (click)="modifyUser('2','个性签名')">
        <ion-label>个性签名</ion-label>
        <ion-label>{{userInfo?.sign}}</ion-label>
        <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
</ion-list>