<ion-list>
    <ion-item>
        <ion-label>头像</ion-label>
        <ion-avatar slot="end">
            <ion-img [src]="imgBaseUrl + 'default.jpg'" class="privateImage"></ion-img>
        </ion-avatar>
    </ion-item>
    <ion-item>
        <ion-label>昵称</ion-label>
        <p slot="end">{{userInfo?.nickname}}</p>
    </ion-item>
    <ion-item>
        <ion-label>二维码</ion-label>
        <p slot="end">测试</p>
    </ion-item>
    <ion-item>
        <ion-label>地区</ion-label>
        <p slot="end">深圳</p>
    </ion-item>
    <ion-item>
        <ion-label>性别</ion-label>
        <ion-icon name="woman" slot="end"></ion-icon>
    </ion-item>
    <ion-item text-wrap>
        <ion-label>个性签名</ion-label>
        <p slot="end">测试个性签名</p>
    </ion-item>
</ion-list>